body{ 
color: white;
background-color: black;
}

.infographic{ 
background-color: white;
color: black;
margin-top: 40px;
margin-bottom:100px;
}

.candidateThumbnails{
  height: 100px;
  width: 150px;
  margin:0px;
  opacity: 0.5;
}

.candidateThumbnails:hover{
  opacity: 1;
  cursor: crosshair;
}
.candidatePhoto{
  height:100%;
  width:100%;
}

#canNav{
  background-color: white;
  margin-left: 0;
  position: absolute;
}

#sidebar-wrapper{
  height:870px;
  margin-left: 10px;
  overflow: auto;
}

#headbanner{
background-color: black;
height: 240px;
}


#circle{
  height: 280px;
  width: 280px;
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: black;
  padding:10px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}


#littlecircle{
  height: 80px;
  width: 80px;
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: black;
  padding:10px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}



#circleGradient
{
  height: 220px;
  width: 220px;
  display: table-cell;
  text-align: center;
  color: black;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: white;
  padding:10px;
  border: 1px solid black;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  background: url('redwhiteblue.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.smallCircle
{
  height: 120px;
  width: 120px;
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: black;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}

.dem
{
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  border-radius: 75%; /* may require vendor prefixes */
  background: #1020bd;
}

.red
{
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
  color: white;
  vertical-align: middle;
  background: #db1a1a;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.blue
{
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
  color: white;
  vertical-align: middle;
  background: #1020bd;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.black
{
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 5px;
  vertical-align: middle;
  background: black;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.white
{
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: black;
  padding-top: 5px;
  vertical-align: middle;
  background: white;
  border: 2px solid black;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
    background: url('redwhiteblue.jpg') repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.blackInverse
{
  height: 60px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  padding-top: 5px;
  vertical-align: middle;
  background: white;
  border: 2px solid black;
}

.bigBlack
{
  height: 60px;
  opacity: 0.8;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 5px;
  vertical-align: middle;
  background: black;
  border: 2px solid white;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.bigBlack:hover{
opacity: 1;
cursor: crosshair;

}


a{
  color: black;
}
a:hover{
  background-color: black;
  color:white;
  cursor: crosshair;
}

#static{
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  margin-bottom: 40px;
  padding-left: 10px;
  margin-right:0px;
}

#canTweets{
  height:800px;
  overflow: scroll;
}


#smallText{
  font-size: 20px;
}

#longSpace{
  margin-top:40px;
  margin-bottom:50px;
}


/*doublebarchart*/


#tooltip {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: black;
  color:white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.indent{
  padding-left: 5px;
}

rect {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
rect:hover{
  opacity: 0.4;

}

#talkBubble {
   width: 75%;
   padding: 4%;
   height: 180px;
   color: white;
   background: black;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
   margin-left: 15px;
   margin-top: 5px;

}
#talkBubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid black;
   border-bottom: 13px solid transparent;
}

#doublebarRow{
  margin-top: 80px;
}

#most {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

#least {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 40px;
}

#socialTags{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#socialTags a :hover{
color: white;
background-color: grey;
}

#barWrap{
  margin-top: 50px;
}

#blackBack{
  background-color: black;
  margin: 10px;
  color:white;
  padding: 10px;
}

#centerText{
  display: table-cell;
  vertical-align:middle;
  color: white;
  text-align:center;
}

#blackBord{
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px dotted black;

}

#redLinks a{
  color: #db1a1a;
}

#redLinks a :hover{
  color: #1020bd;
  cursor: crosshair;
}

#whiteText{
  color:white;
}